.education-entry {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);

}

.education-title {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
}

.education-dates,
.education-location {
    font-size: 14px;
    font-weight: bold;
    color: #7f8c8d;
}

.education-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.education-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Aligns dates and location to the right */
}

ul {
    margin-top: 10px;
    padding-left: 30px;
    list-style-type: disc;
}

ul li {
    line-height: 1.5;
}

p {
    margin-top: 10px;
    text-align: justify;
}